/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "Open Sans", sans-serif;
	/*alternative fonts: serif, cursive, fantasy, monospace*/
}

nav {
	/*0.8rem = 12.8px based on the root element (16px)*/
	/*shorthand property*/
	padding: 0.8rem;
	/*properties that make up padding property
	padding-top:  0.8rem;
	padding-bottom:  0.8rem;
	padding-left:  0.8rem;
	padding-right: 0.8rem;
	*/

	/*creates space between the nav and the intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav ul {
		/*remove bullet points*/
	list-style-type: none;
}

/*descendant selector*/
nav .nav-logo, nav .nav  {
	margin: 0.5rem;

	/*li elements turn into inline elements. default behavior of li elements is block element*/
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*shorthand property
	padding:  top left&right bottom*/

	text-align: center;
}	

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.6rem;
	border-radius: 20px;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}	

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	background-color:  #003256;
}

#pre-footer div {
	display: inline-block;
	vertical-align: top;
	min-height: 180px;
	margin-left: 5rem;
	margin-right: 0.5rem;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	padding-left: 100px;
	padding-right: 100px;
}

#pre-footer h3 {
	margin-bottom: 2px;
}